<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Listado</title>
</head>
<body>
	<table>
		<thead>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Carne</th>
			<th>Carrera</th>
		</thead>
		<th:block th:each="estudiante, row:${estudiantes}">
			<tr>
				<th th:text="${estudiante.codigoEstudiante}">
				<th th:text="${estudiante.nombre}">
				<th th:text="${estudiante.apellido}">
				<th th:text="${estudiante.carne}">
				<th th:text="${estudiante.carrera}">
			</tr>
			
		</th:block>
	</table>
	<button onclick="window.location.href='/inicio'">VOLVER A INGRESAR</button><br>
	<br>
	<form action="/delete" method="post">
		<label>Id estudiante a borrar</label>
		<input type="number" name="codigo">
		<input type="submit" value="BORRAR">
	</form>
</body>
</html>